.fbfpalbums {
	font-family: arial;
	display: block;
	box-sizing: border-box
}

.fbfpalbums .galleri {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.fbfpalbums .galleri .thumbnail-wrapper {
  background-color: #333;
  min-width: 16rem;
  min-height: 18rem;
  position: relative;
  flex: 1;
  flex-basis: 16rem;
  margin-right: 5px;
  margin-bottom: 5px
}

.fbfpalbums .galleri .thumbnail-wrapper .thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer
}

.fbfpalbums .galleri .count {
	font-size: 0.8em !important;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 5px;
	display: block;
	min-width: 34px;
}

.fbfpalbums .galleri .title {
	font-size: 1em !important;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	top: 0;
	text-align: center;
	padding: 5px;
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box
}

.fbfpalbums .aload,
.fbfpalbums .pload {
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	display: none;
}

.fbfpalbums .aload a,
.fbfpalbums .pload a,
.fbfpalbums .fbfpback {
	padding: 15px;
	background-color: #3b5998;
	color: #fff;
	cursor: pointer;
}

.fbfpalbums .fbfpback {
	display: none;
	margin-bottom: 5px;
}
